@font-face {
  font-family: "Fira-sans";
  src: url("./fonts/FiraSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.5em;
  max-width: 100vw;
  background-color: antiquewhite;
}

.border-top {
  height: 6px;
  background-color: black;
}

.nav-link {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  font-family: "Fira-sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 15px 25px;
}

header title {
  font-size: large;
}

header .nav-link {
  font-size: xx-large;
  transition: color 0.3s;
}

header .nav-link:visited,
header .nav-link:link {
  color: unset;
  text-decoration: none;
}

header .nav-link:hover {
  color: red;
}

.container {
  overflow-x: hidden;
  min-height: 1000px;
  background-color: transparent;
  padding: 10px 50px 50px 50px;
}

.grid {
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.grid-item {
  width: 270px;
  margin: 0 0 10px;
  height: 400px;
}

.grid-item--height2 {
  height: 370px;
}

.grid-item--height3 {
  height: 300px;
}

.grid-item--height4 {
  height: 250px;
}
