@font-face {
  font-family: "Fira-sans";
  src: url("./fonts/FiraSans-Regular.ttf");
}

/* BASE/RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: inherit;
}

html {
  font-size: 62.5%;

  /* SET CUSTOM PROPERTIES */
  --black: rgb(12, 12, 12);
  --background: #e4e4ee;
  --info: #e7e7f7d5;
  --secondary: #9b0d0d;
}

body {
  font-family: "Fira-sans";
  box-sizing: border-box;
  font-size: 1.5em;
  max-width: 100vw;
  background-color: var(--background);
}

/* BORDER */
.border-top,
.border-bottom {
  height: 6px;
  background-color: var(--black);
}

/* ANIMATIONS */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 15px 25px;
  user-select: none;
}

header title {
  font-size: large;
}

header .nav-link {
  font-size: xx-large;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

header .nav-link:hover {
  color: var(--secondary);
}

@media only screen and (max-width: 700px) {
  header .nav-link {
    font-size: large;
  }
}

/* GLOBAL LINK STYLES */
a {
  transition: color 0.3s;
}

a:visited,
a:link {
  color: unset;
  text-decoration: none;
}

/* FOOTER */
footer {
  user-select: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
}

/* FOOTER SVG LINKS */
footer .media-links {
  display: flex;
  align-items: center;
}

footer .media-links li {
  margin: 0 20px;
  list-style: none;
}

footer .media-links li:hover {
  cursor: pointer;
}

footer svg {
  height: 30px;
  width: 30px;
  transition: transform 0.3s;
}

footer svg:hover {
  transform: translateY(-3px);
}

/* lEGAL INFO */
footer .site-author a {
  color: var(--secondary);
}

footer .site-author a:hover {
  color: unset;
}

/* DISCLAIMER TEXT */
.disclaimer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: x-small;
}

/* INFO MODAL */
.information {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s;
  background-color: var(--info);
  box-shadow: 1px 1px 1px var(--black), 0px -1px 2px var(--black);
  border-radius: 6px;
  height: 100vh;
  width: 100%;
}

.information .avatar-box {
  max-width: 270px;
  align-self: center;
  justify-self: center;
}

.information .info-box {
  align-self: center;
  justify-self: center;
}

.info-box__bio-text {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .information {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .info-box h1 {
    margin-bottom: 1rem;
  }

  .info-box__bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.stamp {
  position: absolute;
  left: 0;
  top: 0;
}

.stamp.fadeIn {
  opacity: 1;
}

/* MAIN CONTAINER */
.container {
  background-color: transparent;
  padding: 10px 50px 50px 50px;
}

/* MASONRY GRID */
.grid {
  user-select: none;
  margin: 0 auto;
}

.grid-item {
  width: 270px;
  margin: 0 0 10px;
  height: 400px;
  transition: opacity 0.4s;
}

.grid-item.fadeOut {
  opacity: 0;
}

.grid-item.hidden {
  display: none;
}

.grid-item--height2 {
  height: 370px;
}

.grid-item--height3 {
  height: 300px;
}

.grid-item--height4 {
  height: 250px;
}

.grid-item--height5 {
  height: 420px;
}

.grid-item--height6 {
  height: 220px;
}

/* IMAGES IN GRID */

.grid-item figure {
  width: 100%;
  height: 100%;
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
}

figcaption {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* SCROLLBAR SETTINGS */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.781);
  border-radius: 6px;
  width: 6px;
  height: 6px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
